<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Blog</title>
</head>
<body>
    <h1>Update Blog</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" value="{{ blog.title }}"><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description">{{ blog.description }}</textarea><br>
        <label for="image">Image:</label><br>
        <input type="file" id="image" name="image"><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>
